<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/styles.css" />
		<title>GMP KML Validation Tester</title>
	</head>
	<body>
		<h2>GMP KML File Validator</h2>
		<p class="invalid">
			<span style="border-radius:50%;border:2px solid #FF0000;color:#FF0000">&#x2718;</span>
			{{ response }}
		</p>
		<p>Please review this <a href="https://developers.google.com/maps/documentation/javascript/kmllayer#supported-elements">list of supported KML elements</a>.</p>
		<a href="/">Go back</a>
	</body>
</html>